.custom-card {
    border: 1px solid #cbd7e5 !important;
}

.module-title {
    background-color: white;

    font-family: 'Taylor Sans';
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #009F7C;
}

.mtnd-4 {
    margin-top: 35px !important;
}

.module-title:focus {
    color: #415364;
}