<div>
  <div nz-row nzJustify="space-between">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="12" style="position: relative;">
      <div class="ajuste">
        <div class="" style="width: 220px;">
          <img draggable="false" class="icon-menu" style="height: 48px" src="http://set-archivos-test.s3.amazonaws.com/logos/polis.png">
        </div>
        <div class="login">
          <div class="text-login">
            <p class="text-title">Inicio de sesión</p>
            <p class="text-secundary">¡Bienvenido! Ingrese sus datos para acceder a la plataforma.</p>
          </div>
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <label style="color: #80888e;">Usuario</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="¡Por favor ingresar su usuario!">
                <nz-input-group nzPrefixIcon="user" class="type-control">
                  <input type="text" nz-input formControlName="userName" placeholder="Ingrese su usuario" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <label style="color: #80888e;">Contraseña</label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="errorTip">
                <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" class="type-control">
                  <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                    placeholder="Ingrese su contraseña" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button button-green" [nzType]="'primary'">Ingresar</button>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="24">
                <a class="login-form-forgot" [routerLink]="['/forget']">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
          </form>

        </div>
        <nz-footer class="footer-login">
          <img draggable="false" src="../../../assets/v1.svg" alt="" style="margin: 0px 16px;"> © {{year}} Unión temporal de santa marta UTS
        </nz-footer>
      </div>
    </div>
    <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="10" nzXl="12">
      <div class="suppor-fondo">
        <div class="prueba"><img draggable="false" src="../../../assets/Vector.svg" alt="" class="prueba"></div>
        <nz-carousel nzAutoPlay nzAutoPlaySpeed=7000>
          <div nz-carousel-content *ngFor="let index of array">
            <div class="text-suppor-text">
              <div class="title-suppor">
                <p class="title-suppor-secundary">Bienvenido a</p>
                <h1 class="title-suppor-primary">XTICKETING</h1>
              </div>
              <p class="suppor-parraf">{{ index }}</p>
            </div>
          </div>
        </nz-carousel>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <i nz-icon nzType="frown" style="color: rgb(233, 16, 16);"></i>
      </span>
      <div class="ant-notification-notice-message">{{notifyMensaje}}</div>
      <div class="ant-notification-notice-description">
        {{errorMensaje}}
      </div>
    </div>
  </div>
</ng-template> -->