.error-form {
    border: 1px solid #f58a8a;
    border-radius: 6px;
}
.disabled-select {
    background: #E9EEFA;
    color: #798CA5 !important;
    border: 0px solid #AEBBCE !important;
    border-radius: 6px !important;
  }