<div nz-row>
  <div class="home-title-page">
    <h1 class="title-home">Bienvenido, Administrador</h1>
  </div>
  <div nz-col nzSpan="24" class="welcome">
    <div class="title-description" nz-col nzSpan="12">
      <h1 class="home-title">Bienvenido a la nueva
        plataforma XTICKETING</h1>
      <div class="group">
        <a class="rectangle01"></a>
        <a class="rectangle02"></a>
        <a class="rectangle03"></a>
      </div>
      <p class="home-title-secundary">Comienza esta nueva experiencia explorando todas las opciones de
        nuestro producto y disfruta de todos los servicios que nuestra plataforma te ofrece.</p>
    </div>
    <div>
      <div class="circule"></div>
      <div class="circule01"></div>
      <div class="circule02"></div>
      <div class="circule03"></div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <div nz-row nzJustify="center" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzBorderless>
      <div nz-col nzMd="8" nzLg="8" nzXl="7" nzXXl="8" class="card-home">
        <nz-card [nzBordered]="false" nzHoverable>
          <div class="circle d-flex align-items-center justify-content-center">
            <img draggable="false" src="../../../../assets/icon/fi_award.svg">
          </div>
          <div class="cont-text">
            <p class="card-title-primary">Empieza esta experiencia</p>
            <p class="card-text">Crea nuevos servicios, define tarifas, descuentos
              y gestiona el recaudo electrónico de tu entidad.</p>
          </div>
        </nz-card>
      </div>
      <div nz-col nzMd="8" nzLg="8" nzXl="7" nzXXl="8" class="card-home">
        <nz-card [nzBordered]="false" nzHoverable>
          <div class="circle d-flex align-items-center justify-content-center">
            <img draggable="false" src="../../../../assets/icon/fi_file-text.svg">
          </div>
          <div class="cont-text">
            <p class="card-title-primary">Maneja toda información</p>
            <p class="card-text">Administra la información de tus clientes, sus
              cuentas, recargas, pagos, descuentos y movimientos. </p>
          </div>
        </nz-card>
      </div>
      <div nz-col nzMd="8" nzLg="8" nzXl="7" nzXXl="8" class="card-home">
        <nz-card [nzBordered]="false" nzHoverable>
          <div class="circle d-flex align-items-center justify-content-center">
            <img draggable="false" src="../../../../assets/icon/fi_tool.svg">
          </div>
          <div class="cont-text">
            <p class="card-title-primary">Gestiona el recaudo</p>
            <p class="card-text">Configuración y distribución de ingresos, control fraudes
              e informes en línea para la toma rápida de decisiones. </p>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>