@import url('../../../../../../assets/themes/white/white-theme.scss');

.redondo {
    height: 40px;
    border-radius: 24px;
    margin-bottom: 5px;
    background-color: #00ae8d;
    border-color: #00ae8d;
    width: 70px;
}

.signoplus {
    font-size: 20px;
    margin-top: -5px;
}

.signomenos {
    font-size: 31px;
    margin-top: -13px;
}