.estado-file:hover {
    color: #f4bec3;
}

.estado-success:hover {
    color: #56a782;
}

.filtro {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    background-color: red;
}