@import url('../../../../../../../assets/themes/white/white-theme.scss');

::ng-deep .ant-select-multiple .ant-select-selector{
    width: 100%;
}

.not-valid-input[_ngcontent-djf-c281] {
    border: 1px solid #ff4d4f;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px !important;
    font-family: "Taylor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #798CA5;
}
