<nz-breadcrumb style="margin-bottom: 20px;">
  <nz-breadcrumb-item>
    <span class="title-modulo">
      <i nz-icon nzType="credit-card" style="font-size: 25px; margin-bottom: 1px;"></i>
    </span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span class="title-modulo">Medios de pago</span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span class="title-submodulo">Tarjetas</span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">Bloquear</span>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<form nz-form style="padding: 0px 24px; margin: 25px 0px;" nz-col nzSpan="24">
  <div nz-col nzSpan="10">
    <nz-form-item>
      <nz-form-control [nzSpan]="22">
        <nz-input-group nzPrefixIcon="search" style="color: #798CA5; justify-content: center;" class="type-control">
          <input nz-input name="search" appUppercase type="search" id="search" placeholder="Búsqueda"
            [(ngModel)]="filterValue">
        </nz-input-group>
      </nz-form-control>
      <button style="place-self: center; margin-left: 10px;" (click)="cargarTabla()" nz-button
        class="button-green" [nzType]="'primary'" form="CreateForm">Buscar
      </button>
    </nz-form-item>
  </div>
</form>

<div style="border: 1px solid #E9EEFA; border-radius: 8px; margin: 20px 0px;">
  <ng-container *ngIf="mostrarData">
    <!-- TABLE FILTER -->
    <form nz-form style="padding: 0px 24px; margin: 25px 0px" nz-col nzSpan="7">
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <nz-input-group nzPrefixIcon="search" style="color: #798CA5; justify-content: center;" class="type-control">
            <input nz-input id="search" name="search" type="search" autocomplete="off" [(ngModel)]="filterValueTable"
              (ngModelChange)="search()" placeholder="Búsqueda por ID Tarjeta">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- TABLE RECHARGE -->
    <nz-table #rechargesTable [nzPageSize]="5" [nzData]="dataTable" [nzFrontPagination]="false" [nzPageSize]="5"
      [nzScroll]="{ x: '1000px', y: '345px'}">
      <thead>
        <tr style="background: #F5F7FA;">
          <th nzWidth="150px"></th>
          <th nzWidth="180px" *ngFor="let item of columns">
            {{
            item.label | capitaleze
            }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of rechargesTable.data | paginate : { id: 'table', itemsPerPage: numberRow, currentPage: page }">
          <td>
            <div style="display: flex;">
              <img draggable="false" class="mx-2" style="cursor: pointer;" src="../../../../../assets/icon/delete.svg"
                nz-tooltip="Bloquear" (click)="openModal('bloquear', data)">
              <img draggable="false" style="cursor: pointer;" src="../../../../../assets/icon/bloquear.svg" nz-tooltip="Dar de bajar"
                (click)="openModal('bajar', data)">
            </div>
          </td>
          <td>
            {{ data.id }}
          </td>
          <td>
            {{ data.number }}
          </td>
          <td>
            {{ data.balance ? data.balance : 0}}
          </td>
          <td>
            {{ data.account }}
          </td>
          <td>
            {{ data.active ? "Si" : "No"}}
          </td>
          <td>
            {{ data.blocked ? "Si" : "No"}}
          </td>
          <td>
            {{ data.unsubscribed ? "Si" : "No" }}
          </td>
          <td>
            {{ data.card_type }}
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- PAGINADO DE LA TABLA -->
    <div class="row d-flex align-items-center">
      <div class="col-sm-4 ps-4">
        <nz-form-item nz-col nzSpan="24" class="d-sm-flex justify-content-sm-start">
          <div>
            <label class="label-title" style="margin-top: 7px;">Mostrando</label>
          </div>

          <div class="px-1">
            <nz-form-control>
              <nz-select class="select-pag" nzBorderless [(ngModel)]="numberRow" (ngModelChange)="onChangeRowPerPage($event)">
                <nz-option *ngFor="let item of tableSizes" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div>
            <label class="label-title" style="margin-top: 7px;">entradas</label>
          </div>
        </nz-form-item>
      </div>
      <div class="col-sm d-flex justify-content-end pe-4">
        <pagination-controls id="table" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="onChangePage($event)"
          (pageBoundsCorrection)="onChangePage($event)">
        </pagination-controls>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!mostrarData">
    <div nz-col [nzSpan]="24" style="text-align: -webkit-center;">
      <div nz-col [nzSpan]="12">

        <img draggable="false" style="margin: 20px 0px;" src="../../../../../assets/icon/Featured_icon.svg" alt="icono-buscar">

        <div nz-col [nzSpan]="18">
          <h1 class="title-form" style="justify-content: center !important;">No hay datos para mostrar</h1>
          <h1 class="title-secundary">Debe digitar al menos 3 caracteres para buscar por un número de tarjeta o número
            de
            cuenta.</h1>
        </div>

      </div>
    </div>
  </ng-container>
</div>

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzWidth="500px" (nzOnCancel)="closeModal()">
  <div class="row-md" *nzModalContent>
    <!-- titel -->
    <div class="col-sm-12 mt-3">
      <h1 class="modal-title fs-5 mb-3">{{ titulo }}</h1>
      <div class="my-3 text-md">
        {{ descripcion }}
      </div>
      <div class="my-3 text-md" *ngIf="tarjeta != ''">
        {{ tarjeta }}
      </div>
    </div>
  </div>
  <div *nzModalFooter class="p-0">
    <div class="row-md">
      <div class="col-sm-12 d-flex justify-content-center mb-3">
        <ng-container *ngIf="tipoEnvio">
          <button nz-button class=" button-black mx-1" [nzType]="'primary'" (click)="isVisible=false;closeModal()">
            No
          </button>
          <button nz-button class="button-green mx-1" [nzType]="'primary'" (click)="closeModalBlockForm()">
            Si
          </button>
        </ng-container>
        <ng-container *ngIf="!tipoEnvio">
          <button nz-button class=" button-black mx-1" [nzType]="'primary'" (click)="isVisible=false;closeModal()">
            No
          </button>
          <button nz-button class=" button-green mx-1" [nzType]="'primary'" (click)="closeModalBaja()">
            Si
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nz-modal>

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisibleMotivo" nzWidth="500px" (nzOnCancel)="closeModalMotivo()">
  <div class="row-md" *nzModalContent>
    <!-- titel -->
    <div class="col-sm-12 mt-3">
      <h1 class="modal-title fs-5 mb-3">Por favor ingrese la siguiente información para el bloqueo de la tarjeta</h1>
      <div class="my-3 text-md" *ngIf="tarjeta != ''">
        {{ tarjeta }}
      </div>
    </div>
    <div>
      <label class="label-title">Motivo</label>
      <ng-container *ngIf="tipoEnvio">
        <nz-form-item>
          <!-- nzErrorTip="Por favor seleciona tu tipo de tarifa!" -->
          <nz-form-control>
            <nz-select nzAutoFocus id="motivo" [ngClass]="!blockReason && formularioEnviado ? '' : ''" [(ngModel)]="blockReason" nzPlaceHolder="Seleccione un motivo">
              <nz-option disabled [nzValue]="undefined" nzLabel="Seleccione un motivo"></nz-option>
              <nz-option *ngFor="let blockReason of blockReasons" [nzValue]="blockReason.id"
                nzLabel="{{ blockReason.label }}"></nz-option>
            </nz-select>
            <div *ngIf="!blockReason && formularioEnviado"
            style="margin-top: -20px; color: #ff4d4f;">¡Por favor, seleccione un motivo!</div>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngIf="!tipoEnvio">
        <nz-form-item>
          <nz-form-control>
            <nz-select nzAutoFocus id="motivo" [(ngModel)]="unsubscribeReason" nzPlaceHolder="Seleccione un motivo">
              <nz-option disabled [nzValue]="undefined" nzLabel="Seleccione un motivo"></nz-option>
              <nz-option *ngFor="let unsubscribeReason of unsubscribeReasons" [nzValue]="unsubscribeReason.id"
                nzLabel="{{ unsubscribeReason.label }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </ng-container>


    </div>
    <div>
      <label class="label-title">Observaciones</label>
      <ng-container *ngIf="tipoEnvio">
        <nz-form-item>
          <nz-form-control>
            <textarea nz-input rows="3" [(ngModel)]="blockComment" placeholder="Ingrese un la observacion">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngIf="!tipoEnvio">
        <nz-form-item>
          <nz-form-control>
            <textarea nz-input rows="3" [(ngModel)]="unsubscribeComment" placeholder="Ingrese un la observacion">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </ng-container>


    </div>
  </div>

  <div *nzModalFooter class="p-0">
    <div class="row-md">
      <div class="col-sm-12 d-flex justify-content-center mb-3">
        <ng-container *ngIf="tipoEnvio">
          <button nz-button class=" button-black mx-1" [nzType]="'primary'"
            (click)="isVisibleMotivo=true;closeModalMotivo()">
            No
          </button>
          <button nz-button class="button-green mx-1" [nzType]="'primary'" (click)="bloquearConfirmado()">
            Si
          </button>
        </ng-container>
        <ng-container *ngIf="!tipoEnvio">
          <button nz-button class=" button-black mx-1" [nzType]="'primary'"
            (click)="isVisibleMotivo=true;closeModalMotivo()">
            No
          </button>
          <button nz-button class=" button-green mx-1" [nzType]="'primary'" (click)="bajaConfirmado()">
            Si
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nz-modal>
