<!-- BREADCRUMB -->
<nz-breadcrumb style="margin-bottom: 20px;">
    <nz-breadcrumb-item>
        <span class="title-modulo">
            <i nz-icon [nzType]="icons" style="font-size: 25px; margin-bottom: 1px;"></i>
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-modulo">{{ modulo }}</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo">{{ subModulo }}</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">{{subModuloText}}</span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
