@import url(../../../../../assets/themes/white/white-theme.scss);

.disabled-select{
    border: none !important;
}

.borde-rojo {
    border: 1px solid red;
}

.days-invalid{
    border-bottom: 1px solid rgb(255, 0, 0) !important;
}

  