<nz-breadcrumb style="margin-bottom: 20px;">
    <nz-breadcrumb-item>
        <span class="title-modulo">
            <i nz-icon nzType="file-search" style="font-size: 25px; margin-bottom: 1px;"></i>
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-modulo">Reportes</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo">Ver estadisticas</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">{{titelBreadCrumb}}</span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-tabset nzType="card">
    <nz-tab *ngFor="let report of reports" [nzTitle]="report.name">
        <iframe class="w-100 vh-100"
            [src]="report.path | safe"
            frameborder="0"
            style="border:0"
        ></iframe>
    </nz-tab>
</nz-tabset>