.button-white {
  background: #fff;
  border-radius: 8px;
  border-color: #00AE8D !important;
  height: 40px;
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  color: #00AE8D;
  margin: 0 10px;
}
