<!-- BREADCRUMB -->
<nz-breadcrumb style="margin-bottom: 20px;">
    <nz-breadcrumb-item>
        <span class="title-modulo">
            <i nz-icon nzType="file-search" style="font-size: 25px; margin-bottom: 1px;"></i>
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-modulo">Reportes</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo">Listas del sistema</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">{{titelBreadCrumb}}</span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<!-- tabs -->
<nz-tabset nzType="card" nzSelectedIndex="0" (nzSelectedIndexChange)="tabSelect($event)">
    <nz-tab [nzTitle]="'Listas blancas'">
        <app-list-with></app-list-with>
    </nz-tab>
    <nz-tab [nzTitle]="'Listas grises'">
        <app-list-gray></app-list-gray>
    </nz-tab>
    <nz-tab [nzTitle]="'Listas negras'">
        <app-list-black></app-list-black>
    </nz-tab>
</nz-tabset>


