@import url('../../../../../assets/themes/white/white-theme.scss');

.selectTemp{
  width: 98%;
}

nz-time-picker {
  width: 47%;
}

.error-form {
  border: 1px solid #ff4d4f !important;
  border-radius: 6px;
}
// .ant-tooltip{
//   width: 500px !important;
// }

// .ant-input-affix-wrapper {
//   width: 320px;
// }