.button-white {
  background: #fff;
  border-radius: 8px;
  border-color: #00AE8D !important;
  height: 40px;
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  margin: 0 10px;
  color: #00AE8D;
}
.button-green {
  margin: 0 10px;
}

nz-input-number {
  border: 1px solid #AEBBCE;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100% !important;
  align-items: center;
  height: 46px;
  font-family: 'Taylor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #798CA5;
  background-color: white;
}