<app-breadcrumb [icons]="'file-search'" [modulo]="'Reportes'" [subModulo]="'Ver Reportes'"
    [subModuloText]="'Reportes PQR'"></app-breadcrumb>
<app-tabset [reports]="reportes" (emitir)="recibirEmiter($event)"></app-tabset>

<div class="d-flex justify-content-end mb-0 mt-2 gap-2">
    <button nz-button class="button-black" type="button" [nzType]="'primary'"
        (click)="renderFileInTemplate()">Generar documento
    </button>
    <button nz-button class="button-green" type="button"
        (click)="renderFileInTemplateDownloads()" [nzType]="'primary'" [disabled]="!descargar">Descargar documento
    </button>
</div>

<ng-container *ngIf="reportes[0].estado!">
    <form nz-form>
        <div nz-row [nzGutter]="24"
            style="margin-top: 25px; margin-bottom: 25px; display: flex; justify-content: flex-start;">
            <div nz-col [nzSpan]="12">
                <label class="label-tittle">Periodo</label>
                <nz-form-item>
                    <nz-form-control nz-col [nzSpan]="23">
                        <nz-range-picker [ngClass]="fechaRango == undefined && enviarFormulario ? 'error-form' : ''" nzFormat="yyyy-MM-dd" [(ngModel)]="fechaRango"
                            [ngModelOptions]="{standalone: true}">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
                <div *ngIf="enviarFormulario && (!fechaRango || fechaRango == undefined)" class="text-danger" style="margin-top: -15px;">
                    Debe seleccionar un periodo
                </div>
            </div>
        </div>
    </form>
</ng-container>


<nz-divider style="margin: 0px 0 !important;"></nz-divider>
<app-viewer-pdf [urlFile]="urlFile"></app-viewer-pdf>