<nz-breadcrumb style="margin-bottom: 20px;">
    <nz-breadcrumb-item>
        <span class="title-modulo">
            <i nz-icon nzType="solution" style="font-size: 25px; margin-bottom: 1px;"></i>
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-modulo">PQR</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">Reporte PQR</span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="my-3">
    <iframe class="w-100 vh-100" src="https://lookerstudio.google.com/embed/reporting/25a0a981-2f41-4b74-8616-f70379527990/page/ddQaD" frameborder="0" style="border:0"></iframe>
</div>
