<!-- BREADCRUMB -->
<nz-breadcrumb style="margin-bottom: 20px;">
    <nz-breadcrumb-item> 
        <span class="title-modulo">
            <i nz-icon nzType="setting" style="font-size: 25px; margin-bottom: 1px;"></i>
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> 
        <span class="title-modulo">Administración</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo">Usuarios</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span class="title-submodulo" style="color: #00AE8D !important; font-weight: 700;">{{titelBreadcrumb}}</span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<!-- TABS -->
<nz-tabset nzType="card" [nzSelectedIndex]="tabActive">
    <nz-tab *ngFor="let item of listTabs" [nzTitle]="item.name" (nzClick)="tabSelect(item)">
        <div *ngIf="tabSelecte === 'AVPER'">
            <app-profiles (porfileChange)="loadData($event)"></app-profiles>
        </div>
        <div *ngIf="tabSelecte === 'ACU'">
            <app-create-user [idUser]="userId" (userEdit)="setTab($event, 'AVU')" (userCreate)="loadData($event)"></app-create-user>
        </div>
        <div *ngIf="tabSelecte === 'AVU'">
            <app-view-user (tabId)="setTab($event, 'ACU')"></app-view-user>
        </div>
    </nz-tab>
</nz-tabset>
