.button-acciones {
  display: flex;
}

.button-green {
  margin: 0px 10px;
}

.button-white {
  background: #fff;
  border-radius: 8px;
  border-color: #00AE8D !important;
  height: 40px;
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  color: #00AE8D;
  margin-right: 10px;
}
