.modal-title{
  font-family: 'Taylor Sans' !important;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #415364;
}
