.title-modulo {
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #415364;
}

.title-submodulo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #798CA5;
}

.selected-breadcrumb {
  color: #00AE8D !important;
  font-weight: 700;
}
