@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.login-form {
  max-width: 360px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #00AE8D;
}

.login {
  width: 384px;
}

.text-login {
  margin: 40px 0px;
}

.ajuste {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 384px;
  height: 538px;
  left: 168px;
  top: 75px;
}

.type-control {
  background: #FFFFFF;
  border: 1px solid #AEBBCE;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  color: #AEBBCE;
  border-color: #00AE8D !important;
}

.text-secundary {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #556A83;
}

.text-title {
  font-family: 'Taylor Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #415364;
  margin: 16px 0px;
}

.button-green {
  height: 48px;
  font-size: 18px;
  line-height: 24px;
}

.text-suppor-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 500px;
  height: 263.9px;
  left: 116px;
  top: 60px;
}

.title-suppor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding: 0px;
  position: static;
  width: 453px;
  height: 145.9px;
  left: 0px;
  top: 0px;
  margin: 28px 0px;
}

.title-suppor-secundary {
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.01em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  color: #00AE8D;
}

.title-suppor-primary {
  font-family: 'Taylor Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #00AE8D;
}

.suppor-parraf {
  text-align: center;
  margin: 50px 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #798CA5;
}

.suppor-fondo {
  background: #F0FAF8;
  position: absolute;
  width: 100%;
  height: 100vh;
}

@media (max-width: 1200px) {
  .suppor-fondo {
    width: 150%;
    height: 120vh;
  }
}

.footer-login {
  padding: 0px 0px !important;
  font-family: 'Taylor Sans', sans-serif;
  color: #798CA5;
  position: absolute;
  left: -178px;
  bottom: -25px;
  background-color: transparent;
  position: absolute;
}

@media (max-width: 768px) {
  .ajuste {
    left: 220px;
  }
}


@media (max-width: 600px) {
  .ajuste {
    left: 60px;
    top: 75px;
  }

  .footer-login {
    left: -60px;
    bottom: -30px;
  }
}

.prueba {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 10px;
  height: 100%;
  border: 0px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  min-inline-size: -webkit-fill-available;
}

/* CAROUSEL */

[nz-carousel-content] {
  //text-align: center;
  height: 160px;
  line-height: 160px;
  color: #fff;
  overflow: hidden;

}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

.rectangle {
  width: 62px;
  height: 775px;
  background: linear-gradient(180deg, rgba(240, 250, 248, 0.5) 0%, rgba(125, 208, 188, 0.3) 100%);
  transform: rotate(15deg);
}

.rectangle-dos {
  position: absolute;
  width: 67px;
  height: 634px;
  left: 422.48px;
  top: 270.25px;
  background: linear-gradient(180deg, rgba(240, 250, 248, 0.4) 0%, rgba(125, 208, 188, 0.3) 100%);
  transform: rotate(-111.88deg);
}