@import url('../../../../../../assets/themes/white/white-theme.scss');

.anticon {
    font-size: 20px;
}

.disabled-select {
    border: none !important;
}

nz-date-picker {
    width: 104% !important;
}