@import url('../../../assets/themes/white/white-theme.scss');
.trigger {
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #00AE8D !important;
}

.disabled-select {
  border: none;
}